

.email__hide-login-btn {
  background-image: url(./close_icon.svg);
  background-repeat: no-repeat;
  height: 30px;
  margin-left: 375px;
  cursor: pointer;
}
.email-field h1 {
  display: flex;
  font-size: 18px;
  justify-content: center;
}
.email-field-text {
  display: flex;
  font-size: 14px;
  color: #999;
  justify-content: center;
}
.email-field-name-text, .email-field-email, .email-field-phone {
  color: #999;
  margin: 0;
}
.email-field-name input, .email-field-email input, .email-field-phone input {
  margin-top: 12px;
  width: 340px;
  height: 35px;
  box-sizing: border-box;
}
.email-field-name input {
  background: transparent;
  font-size: 16px;
  width: 100%;
  position: relative;
  bottom: 7px;
  height: 100%;
  margin-top: 10px;
  border: none;
}

.email-field-name input:focus {
  outline: none;
}
.email-field-name {
  display: flex;
  margin: 15px 0;
  align-items: center;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #999;
  padding-left: 12px;
}
.email-field-name img {
  margin-right: 13px;
}
.divider {
  width: 2px;
  height: 100%;
  background: #757575;
  margin: 0 5px;
}

