

.email__hide-login-btn {
  background-image: url(./close_icon.svg);
  background-repeat: no-repeat;
  height: 30px;
  margin-left: 375px;
  cursor: pointer;
}
.email-field h1 {
  display: flex;
  font-size: 18px;
  justify-content: center;
}
.email-field-text {
  display: flex;
  font-size: 14px;
  color: #999;
  justify-content: center;
}
.email-field-name-text, .email-field-email, .email-field-phone {
  color: #999;
  margin: 0;
}
.email-field-name input, .email-field-email input, .email-field-phone input {
  margin-top: 12px;
  width: 340px;
  height: 35px;
  box-sizing: border-box;
}
.email-field-name input {
  background: transparent;
  font-size: 16px;
  width: 100%;
  position: relative;
  bottom: 7px;
  height: 100%;
  margin-top: 10px;
  border: none;
}

.email-field-name input:focus {
  outline: none;
}
.email-field-name {
  display: flex;
  margin: 15px 0;
  align-items: center;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #999;
  padding-left: 12px;
}
.email-field-name img {
  margin-right: 13px;
}
.divider {
  width: 2px;
  height: 100%;
  background: #757575;
  margin: 0 5px;
}

@media (max-width: 400px ) {
  .body {
    background: black;
  }
}

@media (max-width: 500px) {
  .login-form__lang_drop-title {
    width: 100%;
    height: 29px;
    background-position: right 6px top 9px;
    line-height: 25px;
    font-size: 12px;
  }
  .form__login {
    margin: 10px 0 0 0;
    font-size: 10px;
  }
  .information p {
    font-family: 'Jomolhari', serif;
    font-size: 10px;
  }
  .login-box_dropdown-content_list-item {
    font-size: 10px;
  }
  .header h1 {
    font-size: 12px;
    font-family: 'Jomolhari', serif;
    margin: 0;
  }
  .login-form h1 {
    font-size: 12px;
  }
  .lable__select { 
    font-size: 10px;
  }
  .login-box {
    width: 100% !important;
    height: 232px !important;
  } 
  .cost {
    font-size: 10px;
    width: 52px;
    margin-right: 52px;
    padding: 0;
  }
  .container {
    width: 100%;
  }
  .button_pop_up {
    padding: 0;
    bottom: 36px;
    height: 36px;
    left: 264px;
    font-size: 10px;
    width: 52px;
  }
  .minus, .plus-goods {
    font-size: 23px;
    padding: 4px 20px;
  }
  .main-cart {
    justify-content: space-between;
  }
  .email__hide-login-btn { 
    width: 61px;
    right: 108px;
    position: relative;
  }
  .main_plus_mine {
    margin-right: 30px;
    width: 45%;
    height: 34px;
    display: flex;
    justify-content: center;
  }
  .main {
    flex-direction: column;
  }
  .information {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
  }
  .information p {
    margin: 0 0 39px;
  }
  .body {
    margin: 0 auto;
  }
  .information h1 {
    font-size: 20px;
  }
  .hide-login-btn { 
    right: 10px;
  }
  .showed_email {
    right: 0 !important;
    width: 100% !important;
    margin-top: 122px;
    margin: 117px auto;
  }
  .send_email {
    margin-top: 49px;
    height: 340px;
    right: 0 !important;
  }
}